<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Makerspace Member Check In</title>
    <script src="/static/htmx.min.js"></script>
    <!--<script
      src="htmx.min.js"
      integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
      crossorigin="anonymous"></script>-->
  </head>
  <body>
    <div id="main-partial">
      <h1>Makerspace Member Check In</h1>
      <img src="static/assets/vc-dark-bg.png" alt="Velocity Center Logo" />
      <h2>Scan your Member ID card to check in</h2>
      <input
        type="text"
        autofocus
        name="member-id"
        id="member-id"
        maxlength="6"
        value=""
        hx-post="/scan-in"
        hx-trigger="input[target.value.length == 6]"
        hx-target="#main-partial"
        hx-swap="outerHTML"
        autocomplete="off"
      />
      <br />
      <button
        hx-get="/see-coordinator"
        hx-target="#main-partial"
        hx-swap="outerHTML"
      >
        I don't have a Member ID card/I'm not a member
      </button>
    </div>
  </body>
</html>
