<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Makerspace Membership Check In</title>
    <script src="../htmx.min.js"></script>
  </head>
  <body>
    <h1>Makerspace Membership Check In</h1>
    <img
      id="screen-img"
      src="../static/assets/vc-dark-bg.png"
      alt="Velocity Center Logo"
      width="300"
    />
    <h3>Scan your Member ID card to check in</h3>
    <input type="text" name="member-id" id="member-id" maxlength="6" />
  </body>
</html>
